html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans";
  color: #808080;

}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


// AUTH 
@import 'auth/signin';
@import 'auth/signup';

@import 'layout';
@import 'headernavbar';
@import 'page-title';
@import 'form-fields';
@import 'details';

// ACCOUNT
@import 'account/account';
@import 'account/purchase-history';
@import 'account/account-information'; 


// SHOP
@import 'shop/shop'; 
